---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$primary-font: Barlow Semi Condensed, Helvetica, Arial, sans-serif;
$bold-font: Barlow Semi Condensed, Helvetica, Arial, sans-serif;
$secondary-font: Barlow Semi Condensed, Helvetica, Arial, sans-serif;
$font-xlarge: 2.0581em;
$font-large: 1.618em;
$font-medium: 1.272em;
$font-normal: 21px;
$font-small: .7862em;

$white: white;
$black: black;

@import
        "base",
        "font-awesome"
        ;
