---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$primary-font: Barlow Semi Condensed, Helvetica, Arial, sans-serif;
$bold-font: Barlow Semi Condensed, Helvetica, Arial, sans-serif;
$secondary-font: Barlow Semi Condensed, Helvetica, Arial, sans-serif;
$font-xlarge: 2.0581em;
$font-large: 1.618em;
$font-medium: 1.272em;
$font-normal: 21px;
$font-small: .7862em;

$white: #fafafa;
$black: #232323;

$world: #115363;
$nature: #7ea228;
$science: #9d3011;
$entertainment: #5c4454;
$legend: #756b30;

@import
        "base",
        "nav",
        "font-awesome"
        ;
