body, p {
  font-family: Crimson Text, Georgia, Times, serif;
  font-size: 20px;
  line-height: 26px; }

h1, h2, h3, h4, h5, h6, h1 small {
  font-family: Allerta, Helvetica, Arial, sans-serif;
  text-align: left; }

hr {
  border: 1px solid #000; }

.motto h1, .motto small {
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }

.lead {
  font-size: 26px;
  line-height: 33.8px; }

.motto {
  text-align: left !important; }

.motto .container {
  font-family: Allerta, Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #fff; }

.motto .container a, .motto .container a:hover {
  color: #fff;
  text-decoration: none; }

a {
  color: #000; }

.logo {
  font-family: Allerta, Helvetica, Arial, sans-serif;
  font-size: 20px; }

.main .container {
  text-align: justify; }

.lead::first-letter {
  font-size: 250%;
  line-height: 1em; }

aside {
  font-family: Allerta, Helvetica, Arial, sans-serif;
  font-size: 26px;
  line-height: 33.8px; }

aside.right {
  text-align: right; }

aside.left {
  text-align: left; }

img.right {
  float: right;
  margin-left: 10px; }

.footer, .footer a {
  color: #fff; }

.linkprev a, .linknext a, .linkprev a:hover, .linknext a:hover, .index .title a, .index .title a:hover {
  color: #000;
  text-decoration: none; }

.linkprev .title p, .linknext .title p, .index .title p {
  font-size: 15px; }

.linkprev h2, .linknext h2, .index .title h2 {
  font-size: 16px; }

a {
  color: #000; }

a:hover {
  color: #c94b0c;
  text-decoration: none; }

.hometitle {
  text-align: left; }

body, .main {
  background-color: #ccc; }

.fixed {
  position: fixed !important; }

.abs {
  position: absolute; }

.motto {
  top: 20px; }

.motto .container {
  padding-left: 0px;
  padding-right: 0px; }

.logo {
  float: left;
  height: 30px;
  width: 30px;
  border: 2px solid #fff;
  margin-right: 10px;
  margin-left: 10px;
  padding: 2px; }

.main .container {
  padding-top: 25px;
  background-color: #fff;
  position: relative;
  top: -150px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); }

.lead::first-letter {
  margin-top: 0px;
  margin-right: 7px;
  float: left; }

aside.right {
  display: block;
  float: right;
  width: 250px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px; }

aside.left {
  display: block;
  float: left;
  width: 250px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px; }

.article .advert.title {
  height: 50px;
  margin-bottom: 0px;
  border-bottom: 0px solid #000; }

.article .advert.image {
  height: 280px;
  overflow: hidden;
  margin-bottom: 5px; }

.article.advert .title {
  border-bottom: 0px; }

.article.advert {
  padding-top: 19px; }

.sharing .share {
  width: 64px;
  height: 64px;
  display: inline-block;
  margin-right: 10px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); }

.sharing .fa {
  display: block;
  background-color: #333136;
  margin: 5px;
  padding: 5px;
  width: 45px;
  height: 45px;
  float: left;
  color: #fff;
  text-align: center;
  line-height: 36px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); }

.sharing .fa:hover {
  background-color: #34495E; }

.space {
  height: 25px; }

.extra-space {
  height: 50px; }

.footer {
  background-color: #333136; }

.linkprev .image img, .linknext .image img, .index .image img {
  margin-left: auto;
  margin-right: auto; }

/*# sourceMappingURL=styling.css.map */
