@import "true";
@import '../_sass/_variables.scss';
@import '../_sass/_typography.scss';

@include describe('Tests working') {
  @include it('Just testing to see if unit testing works') {
    @include assert-equal(
      1,
      1
    );
  }
}

@include it('Outputs a correct font size and line height for a normal main font') {
  @include assert {
    @include output {
      @include main-font('normal');
    }

    @include expect {
      font-size: $font-normal;
      line-height: 1.45em;
      font-family: $primary-font;
      font-style: normal;
      font-feature-settings: "kern" 1, "liga" 1, "swsh" 1, "salt" 1;
      font-variant-numeric: oldstyle-nums;
      font-weight:200;
      color: $black;
    }
  }
}

@include it('Outputs a correct font size and line height for a medium main font') {
  @include assert {
    @include output {
      @include main-font('medium');
    }

    @include expect {
      font-size: $font-medium;
      line-height: 1.12em;
      font-family: $primary-font;
      font-style: normal;
      font-feature-settings: "kern" 1, "liga" 1, "swsh" 1, "salt" 1;
      font-variant-numeric: oldstyle-nums;
      font-weight:200;
      color: $black;
    }
  }
}