---
layout: page152
title: Welcome to Trivial Discourse
description: "Taking a good hard look at life's trivial parts. Exploring trivial knowledge of many topics, including science, history and mathematics."
redirect_from: "/page1"
color: "#27AE60"
---

<div class="row index">
	{% for post in paginator.posts %}
	<div class="article col-lg-12 col-md-12 col-sm-12">
		<a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
		{% if post.subtitle %}
		<h3>{{ post.subtitle }}</h3>
		{% endif %}
		<p>
		{{ post.excerpt | remove: '<p>' | remove: '</p>' }}
		</p>
		{% if forloop.index == 1 %}
		<p>
			<img src="{{ post.image_url_large }}" class="img-responsive"/>
		</p>
		{% endif %}
		<a class="readmore" href="{{ post.url }}">Continue reading &ldquo;{{ post.title }}&rdquo;</a>
	</div>
	{% if forloop.index == 1 %}
	<div class="article col-lg-12 col-md-12 col-sm-12">
		<div class="advert title">
			<h2>Advertisement</h2>
			<p>&nbsp;</p>
		</div>
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-8229111309021610"
			 data-ad-slot="1446574905"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		
	</div>
	{% endif %}
	{% if forloop.index == 5 %}
	<div class="article col-lg-12 col-md-12 col-sm-12">
		<div class="advert title">
			<h2>Advertisement</h2>
			<p>&nbsp;</p>
		</div>
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-8229111309021610"
		     data-ad-slot="1446574905"
		     data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>		
	</div>
	{% endif %}
	{% endfor %}
</div>
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous page</a>
  {% else %}
    <span>Previous page</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next page</a>
  {% else %}
    <span>Next page</span>
  {% endif %}
</div>
{% endif %}
<hr>