---
layout: default
---

<div class="home">

  <div class="container">
  <div class="row">
        <div class="col-md-12">
            <article>
            {% for post in site.posts %}
                <p>
                    <div class="cat {{ post.category }}"></div>
                    <a rel="prev" href="{{ post.url }}">
                    <h1 class="title">{{ post.title }}</h1>
                    {% if post.subtitle %}
                    <h2 class="title">{{ post.subtitle }}</h2>
                    {% else %}
                    <p>&nbsp;</p>
                    {% endif %}
                    </a>
                </p>
            {% if post.quote %}
                <aside class="right hidden-xs">{{ post.quote }}</aside>
            {% endif %}
            {% endfor %}
            </article>
        </div>
  </div>
  <div class="space"></div>
  </div>

</div>
