$primary-font:  Crimson Text, Georgia, Times, serif
$secondary-font : Allerta, Helvetica, Arial, sans-serif 

.blurred-container 
  height: 215px

h1
  font-size: 36px
  font-weight: bold
  text-align: left

h1 small 
  display: block
  font-size: 14px
  line-height: 18px
  margin-top: 15px

h3
  font-size: 24px
  font-weight: bold
  text-align: left
  
p
  line-height: 30px
  
.readmore
  font-family: $secondary-font
  font-size: 24px
  padding-top: 10px
  padding-bottom: 25px
  display: block
  width: 100%
  border-bottom: 1px solid #000
  
.sharing
  margin-left: -5px
  
.sharing .fa 
  box-shadow: none
  -moz-box-shadow: none
  -webkit-box-shadow: none

i.right 
  float: right
  margin-left: 10px
  font-size: 30px
