<footer>
  <div class="footer">
    <a href="/" aria-label="Trivial Discourse">
      <img src="/assets/logo/logo.png" width="125" height="70" class="logo" loading="lazy" alt="" />
    </a>

    <div class="links">
      <div class="social">
        <div class="title">Follow me</div>

        <div class="icons">
          <a href="https://www.twitter.com/semtek" target="_blank" rel="noopener noreferrer">
            <img src="/assets/images/twitter.png" width="32" height="32" class="social-icon" loading="lazy" alt="Twitter" />
          </a>

          <a href="https://www.instagram.com/pieterscomputerdraws" target="_blank" rel="noopener noreferrer">
            <img src="/assets/images/instagram.png" width="32" height="32" class="social-icon" loading="lazy" alt="Instagram" />
          </a>

          <a href="https://ko-fi.com/pieter" target="_blank" rel="noopener noreferrer">
            <img src="/assets/images/kofi.png" width="32" height="32" class="social-icon" loading="lazy" alt="Support me on ko-fi" />
          </a>
        </div>
      </div>

      <div class="legal">
        <div class="title">Legal</div>
        <div class="privacy">
          <a href="#">Privacy Policy</a>
        </div>
        <div class="terms">
          <a href="#">Terms of use</a>
        </div>
        <div class="sitemap">
          <a href="/sitemap.xml">Sitemap</a>
        </div>
        <div class="copyrights">&copy; 2021 Trivial Discourse</div>
      </div>
    </div>
  </div>
</footer>