<header class="site-header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header text-center">
        <button class="navbar-toggle" type="button" data-target=".navbar-collapse" data-toggle="collapse">
        <span class="icon-bar top"></span>
        <span class="icon-bar middle"></span>
        <span class="icon-bar bottom"></span>
        </button>
        <a class="navbar-brand" href="/">Trivial Discourse</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li><a href="http://feeds.feedburner.com/TrivialDiscourse">Subscribe</a></li>
        </ul>
    </div>
    </nav>
</header>
