@keyframes rotate45 {
    0% {
        top: 0px;
        transform: rotate(0deg);
    }
    50% {
        top: 6px;
        transform: rotate(0deg);
    }
    100% {
        top: 6px;
        transform: rotate(45deg);
    }
}

@keyframes rotate45back {
    0% {
        top: 6px;
        transform: rotate(45deg);
    }
    50% {
        top: 6px;
        transform: rotate(0deg);
    }
    100% {
        top: 0px;
        transform: rotate(0deg);
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotatemin45 {
    0% {
        top: 0px;
        transform: rotate(0deg);
    }
    50% {
        top: -6px;
        transform: rotate(0deg);
    }
    100% {
        top: -6px;
        transform: rotate(-45deg);
    }
}

@keyframes rotatemin45back {
    0% {
        top: -6px;
        transform: rotate(-45deg);
    }
    50% {
        top: -6px;
        transform: rotate(0deg);
    }
    100% {
        top: 0px;
        transform: rotate(0deg);
    }
}

@keyframes dropdown {
    0% {
        height: 0px;
    }
    100% {
        height: 100px;
    }
}

.navbar-toggle .icon-bar {
	  position: relative;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
      animation-name: rotate45;
      animation-delay: 0ms;
      animation-duration: 1000ms;
      top: 6px;
      transform: rotate(45deg);
}

.navbar-toggle.inactive .icon-bar:nth-of-type(1) {
      animation-name: rotate45back;
      animation-delay: 0ms;
      animation-duration: 1000ms;
      top: 0px;
      transform: rotate(0deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  animation-name: fadeout;
      animation-delay: 0ms;
      animation-duration: 1000ms;
      opacity: 0;
}

.navbar-toggle.inactive .icon-bar:nth-of-type(2) {
	  animation-name: fadein;
      animation-delay: 0ms;
      animation-duration: 1000ms;
      opacity: 1;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
      animation-name: rotatemin45;
      animation-delay: 0ms;
      animation-duration: 1000ms;
      top: -6px;
      transform: rotate(-45deg);
}

.navbar-toggle.inactive .icon-bar:nth-of-type(3) {
      animation-name: rotatemin45back;
      animation-delay: 0ms;
      animation-duration: 1000ms;
      top: 0px;
      transform: rotate(0deg);
}

.navbar-collapse.in {
    animation-name: dropdown;
    animation-delay: 0ms;
    animation-duration: 1000ms; 
}