@font-face {
  font-family: "Barlow Semi Condensed";
  font-display: fallback;
  src: url("../fonts/BarlowSemiCondensed-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html {
  @include main-font('normal');
}

body {
  padding-top: 0px;
  margin: 0;
  background-color: $white;
}

.home {
  max-width: 1198px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body,
p,
.lead {
  @include main-font('normal');
}

aside {
  @include main-font('medium');
}

aside.right {
  display: block;
  float: right;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}

aside.left {
  display: block;
  float: left;
  width: 250px;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

nav {
  width: 100%;
  height: 1px;
  margin-top: 50px;
}

@media all and (max-width:800px) {
  article {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (min-width:800px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    height: 100vh;
  }

  aside.right {
    margin-right: -2em;
    width: 250px;
  }

  aside.left {
    margin-left: -2em;
    width: 250px;
  }

  .page-content {
    .content-head {
      position: fixed;
      top: 50%;
      transform: translateY(-70%);
      grid-column-start: 1;
      padding-left: 150px;
      max-width: 35%;

      .title {
        text-align: left !important;
      }
    }

    .main-content {
      grid-column-start: 2;
      padding-right: 150px;
      padding-top: 0;
      padding-bottom: 100px;
      position: relative;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

@media all and (max-width:800px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 100px;
  }

  aside.right {
    margin: 10px 0 15px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100%;
    text-align: center;
  }

  aside.left {
    margin: 10px 0 15px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100%;
    text-align: center;
  }
}

.index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
}

@media all and (max-width:700px) {
  .index {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
  }
}

.index-item {
  display: block;
  width: 100%;
  height: 150px;
}

p,
.lead {
  margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 small {
  font-family: $secondary-font;
  font-feature-settings: "kern"1, "liga"1, "swsh"1, "salt"1;
  font-variant-numeric: oldstyle-nums;
  text-align: left;
  line-height: 1.2em;
  margin: 1.414em 0 0.5em;
}

h1,
.h1 {
  font-size: $font-large;
  font-weight: 700;
  font-family: $secondary-font;
}

article h1.title,
article h2.title {
  text-align: left;
  color: #131313;
  font-weight: 900;
  letter-spacing: .15em;
  text-shadow:
    1px 1px 0 #c6c4c4,
    2px 2px 1px #cfcdcd,
    3px 3px 2px #d8d6d5,
    4px 4px 2px #d9d7d6,
    5px 5px 2px #dfdddc,
    6px 6px 2px #ebdfde,
    7px 7px 2px #e6e5e4,
    8px 8px 2px #e8e7e6;

}

h2,
.h2,
h2.title {
  font-size: $font-medium;
  font-weight: 700;
  margin-top: 0px;
}

h2.title {
  font-weight: normal;
  margin-bottom: 1.2em;
}

h3 {
  font-size: $font-medium;
  font-family: $secondary-font;
  font-weight: 700;
  text-align: left;
}

p.title {
  font-family: $secondary-font;
  margin-top: 0px;
  font-size: $font-normal;
  line-height: 1em;
  text-align: center;
}

.support {
  text-align: center;
}

.smallcaps {
  font-kerning: normal;
  font-feature-settings: "kern"1, "liga"1, "swsh"1, "salt"1;
  font-variant-numeric: oldstyle-nums;
  font-weight: normal;
  font-family: $primary-font;
  text-transform: uppercase;
}

.photocredits {
  font-size: $font-small;
  font-family: $secondary-font;
}

hr {
  border: 1px solid black;
}

small,
.small {
  font-size: $font-small;
  line-height: 80%;
}

h1.menu-item {
  margin-top: 0px;
}

article {
  text-align: justify;
}

img.right {
  float: right;
  margin-left: 10px;
}

aside li {
  list-style-type: none;
}

a {
  color: $black;
}

a:hover {
  color: $black;
  text-decoration: none;
}

.fixed {
  position: fixed !important;
}

.abs {
  position: absolute;
}

.sharing .fa {
  display: block;
  background-color: #333136;
  margin-right: 5px;
  margin-top: 10px;
  padding: 5px;
  width: 40px;
  height: 40px;
  float: left;
  color: white;
  text-align: center;
  line-height: 36px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.world .sharing .fa:hover {
  background-color: $world;
}

.nature .sharing .fa:hover {
  background-color: $nature;
}

.science .sharing .fa:hover {
  background-color: $science;
}

.entertainment .sharing .fa:hover {
  background-color: $entertainment;
}

.legend .sharing .fa:hover {
  background-color: $legend;
}

.space {
  height: 25px;
}

.extra-space {
  height: 50px;
}

i.right {
  float: right;
  margin: 10px;
  font-size: $font-medium;
  line-height: 45px;
}

.header {
  height: 50px;
  margin-bottom: 10px;
  position: relative;
}

article p a,
aside a,
.main-navigation a {
  text-decoration: none;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
  transition: border-color 0.5s cubic-bezier(0.33, 0.66, 0.66, 1);
}

article p a:hover,
article p a:focus,
aside a:hover,
aside a:focus,
.main-navigation a:hover,
.main-navigation a:focus {
  border-color: #434343;
}

article p.title a,
article p.title a {
  border-bottom: 0px;
  box-shadow: none;
}

.logo {
  z-index: 999;
  display: block;
  font-family: $bold-font;
  font-size: $font-small;
  font-feature-settings: "kern"1, "liga"1, "swsh"1, "salt"1;
  font-weight: 200;
  float: left;
  color: $black;
  line-height: 200%;
  text-decoration: none;
  width: 200px;

  strong {
    font-weight: 900;
  }
}

.logo::before,
.index-item h1::before {
  display: block;
  content: "";
  background-color: $science;
  width: 15px;
  height: $font-large;
  margin-right: 10px;
  float: left;
}

.index-item h2::before {
  display: block;
  content: "";
  background-color: transparent;
  width: 15px;
  height: 100px;
  margin-right: 10px;
  float: left;
}

.world .logo::before,
.index-item.world h1::before {
  background-color: $world;
}

.world article h1.title,
.world article h2.title {
  color: $world;
}

.nature .logo::before,
.index-item.nature h1::before {
  background-color: $nature;
}

.nature article h1.title,
.nature article h2.title {
  color: $nature;
}

.science .logo::before,
.index-item.science h1::before {
  background-color: $science;
}

.science article h1.title,
.science article h2.title {
  color: $science;
}

.entertainment .logo::before,
.index-item.entertainment h1::before {
  background-color: $entertainment;
}

.entertainment article h1.title,
.entertainment article h2.title {
  color: $entertainment;
}

.legend .logo::before,
.index-item.legend h1::before {
  background-color: $legend;
}

.legend article h1.title,
.legend article h2.title {
  color: $legend;
}

.logo a {
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  color: #000 !important;
  text-decoration: none;
}

.index-item h1,
.index-item h2 {
  font-family: $bold-font;
  font-size: $font-normal;
  font-feature-settings: "kern"1, "liga"1, "swsh"1, "salt"1;
  font-weight: normal;
}

a.index-item {
  text-decoration: none;
}

.header {
  margin-top: 10px;
}

.btn {
  background-color: #333136;
  height: 45px;
  line-height: 30px;
  font-size: 0.9em;
  border: 0px;
  border-radius: 0px;
}

.btn:hover {
  background-color: $nature;
}

.img-responsive {
  width: 100%;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  .hamburger {
    position: absolute;
    left: 9px;
    top: 30px;
    width: 24px;
    height: 24px;
    z-index: 999;
    transform: translateX(0);
    transition: transform 0.3s linear;
    
    &:before {
      content: '';
      display: block;
      background-color: $world;
      width: 50px;
      height: 100px;
      position: absolute;
      top: -50px;
      left: -9px;
    }

    &:after {
      content: '';
      top: 10px;
      background-color: $world;
      width: 80px;
      transform: rotate(45deg);
      height: 80px;
      left: -52px;
      display: block;
      z-index: -1;
      position: absolute;
      border-radius: 9px;
    }

    span {
      background-color: #dfdddc;
      width: 24px;
      height: 4px;
      display: block;
      position: absolute;
      left: 0px;
      pointer-events: none;

      &:first-child {
        top: 0px;
      }

      &:nth-child(2) {
        top: 10px;
      }

      &:nth-child(3) {
        top: 20px;
      }
    }

  }

  .show-nav {
    position: absolute;
    left: 9px;
    top: 30px;
    width: 24px;
    height: 24px;
    margin: 0;
    opacity: 0;
    z-index: 1000;
    transition: transform 0.3s linear;
    cursor: pointer;

    &:checked {
      & ~ .main-navigation,
      & ~ .hamburger {
        transform: translateX(247px);
      }

      transform: translateX(247px);
    }
  }

  .main-navigation {
    position: absolute;
    margin-top: 0;
    left: -247px;
    width: 250px;
    transform: translateX(0);
    top: 0;
    height: 100vh;
    background-color: $world;
    padding-right: 50px;
    padding-top: 30px;
    padding-left: 15px;
    transition: transform 0.3s linear;

    ul {
      list-style: none;
      padding-left: 0;

      a {
        color: $white;
        border-color: transparent;

        &:hover,
        &:active {
          border-color: $white;
        }
      }
    }
  }

  .title {
    color: $white;
    line-height: 24px;
  }

  .divider {
    color: $white;
    font-weight: 900;
  }

  .recent {
    li {
      margin-bottom: 1rem;
    }
  }
}

.world .navigation {
  .hamburger {
    &:before,
    &:after {
      background-color: $world;
    }
  }
  
  .main-navigation {
    background-color: $world;
  }
}

.entertainment .navigation {
  .hamburger {
    &:before,
    &:after {
      background-color: $entertainment;
    }
  }
  
  .main-navigation {
    background-color: $entertainment;
  }
}

.nature .navigation {
  .hamburger {
    &:before,
    &:after {
      background-color: $nature;
    }
  }
  
  .main-navigation {
    background-color: $nature;
  }
}

.legend .navigation {
  .hamburger {
    &:before,
    &:after {
      background-color: $legend;
    }
  }
  
  .main-navigation {
    background-color: $legend;
  }
}


.science .navigation {
  .hamburger {
    &:before,
    &:after {
      background-color: $science;
    }
  }
  
  .main-navigation {
    background-color: $science;
  }
}