// Glyph font
@font-face {
    font-family: "winjs-symbols";
    src: url("../fonts/winjs-symbols.eot");
    src: url("../fonts/winjs-symbols.eot#iefix") format("embedded-opentype"),
         url("../fonts/winjs-symbols.ttf") format("truetype");
}

@font-face {
    font-family: "Selawik";
    src: url("../fonts/selawk.eot");
    src: url("../fonts/selawk.eot#iefix") format("embedded-opentype"),
         url("../fonts/selawk.ttf") format("truetype");
}

@font-face {
    font-family: "Selawik Bold";
    src: url("../fonts/selawkb.eot");
    src: url("../fonts/selawkb.eot#iefix") format("embedded-opentype"),
         url("../fonts/selawkb.ttf") format("truetype");
}

@font-face {
    font-family: "Selawik Light";
    src: url("../fonts/selawkl.eot");
    src: url("../fonts/selawkl.eot#iefix") format("embedded-opentype"),
         url("../fonts/selawkl.ttf") format("truetype");
}

@font-face {
    font-family: "Selawik Semibold";
    src: url("../fonts/selawksb.eot");
    src: url("../fonts/selawksb.eot#iefix") format("embedded-opentype"),
         url("../fonts/selawksb.ttf") format("truetype");
}

@font-face {
    font-family: "Selawik Semilight";
    src: url("../fonts/selawksl.eot");
    src: url("../fonts/selawksl.eot#iefix") format("embedded-opentype"),
         url("../fonts/selawksl.ttf") format("truetype");
}

@font-face {
    font-family: "Source Serif Pro Regular";
    src: url("../fonts/SourceSerifPro-Regular.eot");
    src: url("../fonts/SourceSerifPro-Regular.eot#iefix") format("embedded-opentype"),
         url("../fonts/SourceSerifPro-Regular.ttf") format("truetype");
}

html {
  font-style:normal;
  font-weight:normal;
}
body {
  padding-top: 0px;
}

body, .container, .main {
    background-color: transparent;
}

.container {
    max-width: 700px;
}
body, p, .lead {
    font-family: $primary-font;
    font-size: 21px;
    line-height: 1.5em;
    font-kerning: normal;
    font-variant-ligatures: discretionary-ligatures;
    font-variant-numeric: oldstyle-nums;
}

p, .lead {
    margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6, h1 small {
    font-family: $secondary-font;
    font-variant-ligatures: discretionary-ligatures;
    font-variant-numeric: oldstyle-nums;
    text-align: left;
}

h1, .h1 {
    font-size: 1.77em;
    line-height: 0.84745762em;
    margin-bottom: 0.42372881em;
    font-weight: 700;
    font-family: $secondary-font;
}

article h1.title, article h2.title {
  text-align: center;
}

h2, .h2, h2.title {
    font-size: 1.33em;
    line-height: 1em;
    margin-bottom: 1.127819em;
    font-weight: 700;
    margin-top: 0px;
}

h2.title {
    margin-bottom: 1.70em;
    font-weight: normal;
}

h3 {
    font-size: $font-medium;
    font-family: $secondary-font;
    font-weight: 700;
    text-align: left;
}

p.title {
    font-family: $secondary-font;
    margin-top: 0px;
    font-size: 0.8em;
    line-height: 1em;
    text-align: center;
}

.smallcaps {
  font-size: 0.80em;
  font-kerning: normal;
  font-variant-ligatures: discretionary-ligatures;
  font-variant-numeric: oldstyle-nums;
  font-variant-caps: all-small-caps;
  font-variant: small-caps;
  font-weight: bold;
  font-family: $bold-font;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum", "smcp", "c2sc";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum", "smcp", "c2sc";
  font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum", "smcp", "c2sc";
}

.photocredits {
  font-size: 0.8em;
  font-family: $secondary-font;
}

hr {
  border: 1px solid black;
}

.header .container a, .header .container a:hover {
  color: $white;
  text-decoration: none;
  width: 232px;
}

a {
  color: $black;
}

small, .small {
    font-size: 80%;
    line-height: 80%;
}
.main .container {
  text-align: justify;
}

aside {
  font-family: $primary-font;
  font-size: 1.33em;
  line-height: 1.12em;
}

aside.right {
  text-align: right;
}

aside.left {
  text-align: left;
}

img.right {
  float: right;
  margin-left: 10px;
}

.linkprev a, .linknext a, .linkprev a:hover, .linknext a:hover, .index .title a, .index .title a:hover {
  color: $black;
  text-decoration: none;
}

a {
  color: $black;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.fixed {
  position: fixed !important;
}

.abs {
  position: absolute;
}

.main .container {
  margin-bottom: 30px;
  position: relative;
}

aside.right {
  display: block;
  float: right;
  width: 250px;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-right: -2em;
}

aside.left {
  display: block;
  float: left;
  width: 250px;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: -2em;
}

.sharing  .share {
  width: 64px;
  height: 64px;
  display: inline-block;
  margin-right: 10px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.sharing .fa {
  display: block;
  background-color: #333136;
  margin: 5px;
  padding: 5px;
  width: 45px;
  height: 45px;
  float: left;
  color: white;
  text-align: center;
  line-height: 36px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.sharing .fa:hover {
  background-color: #7ea228;
}

.space {
  height: 25px;
}

.extra-space {
  height: 50px;
}

.content p a {
  text-decoration: underline;
}

.sharing {
  margin-left: -5px;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 54px;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
}

.sharing .fa {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

i.right {
  float: right;
  margin: 10px;
  font-size: 30px;
  line-height: 45px;
}

.header {
  margin-bottom: 10px;
}

.article.col-lg-6 {
  min-height: 420px;
}

.article.col-lg-6 h2 {
  font-size: $font-medium;
  font-weight: 700;
}

.article.col-lg-6 h3 {
  font-size: $font-medium;
}

article p a {
  text-decoration: none;
  border-bottom: 3px solid #7ea228;
  box-shadow: inset 0px -1px 0px #7ea228;
  cursor: pointer;
  transition: background-color 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
}

article p a:hover, article p a:focus {
  background-color: #7ea228;
}

article p.title a, article p.title a {
  border-bottom: 0px;
  box-shadow: none;
}

.header .container a, .header .container a:hover {
  line-height: 65px;
}

.home h1 {
    font-size: $font-large;
    text-transform: uppercase;
}

.home .container {
  margin-top: 0px;
  padding: 0px;
}

.home .container .row {
  margin-left: 0px;
  margin-right: 0px;
}

.home .image {
  padding: 0px;
  overflow: hidden;
}

.home .image img {
  min-height: 390px;
  min-width: 585px;
}

.home .row > div {
  margin-left: 0px;
  margin-right: 0px;
}

.home .more a, .home .more a:hover, .home .more a:active {
  color: white;
  text-decoration: none;
}

.home .more {
  background-color: #a4a400;
  width: 110px;
  height: 50px;
  line-height: 50px;
  text-align: right;
  padding-right: 18px;
  font-family: $primary-font;
  color: white;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.item3, .item5 {
  background-color: #f4f4f4;
}

.logo {
  float: none;
  line-height: 45px;
  color: #000;
  border: 2px solid #000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo:hover, .logo::focus {
  color: #000 !important;
}

.header {
  margin-top: 10px;
}

@media all and (min-width:1500px) {
  .container {
    width: 1470px;
  }
}

.cat {
  width: 15px;
  height: 80px;
  float: left;
  margin-right: 10px;
}

.cat.legend {
  background-color: #756b30;
}

.cat.legend + a:hover {
  color: #756b30;
  text-decoration: none;
}

.cat.world {
  background-color: #115363;
}

.cat.world + a:hover {
  color: #115363;
  text-decoration: none;
}

.cat.nature {
  background-color: #7ea228;
}

.cat.nature + a:hover {
  color: #7ea228;
  text-decoration: none;
}

.cat.science {
  background-color: #9d3011;
}

.cat.science + a:hover {
  color: #9d3011;
  text-decoration: none;
}

.cat.entertainment {
  background-color: #5c4454;
}

.cat.entertainment + a:hover {
  color: #5c4454;
  text-decoration: none;
}
