@media all and (min-width:1280px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    height: 100vh;
  }

  aside.right {
    margin-right: -2em;
    width: 250px;
  }

  aside.left {
    margin-left: -2em;
    width: 250px;
  }

  .page-content {
    .content-head {
      position: fixed;
      top: 50%;
      transform: translateY(-70%);
      grid-column-start: 1;
      padding-left: 150px;
      max-width: 35%;

      .title {
        text-align: left !important;
      }
    }

    .main-content {
      grid-column-start: 2;
      padding-right: 150px;
      padding-top: 30px;
      padding-bottom: 100px;
      position: relative;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
}

@media all and (max-width:1280px) {
  article {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }

  .main-content {
    padding-top: 30px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 100px;
  }

  aside.right {
    margin: 10px 0 15px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100%;
    text-align: center;
  }

  aside.left {
    margin: 10px 0 15px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100%;
    text-align: center;
  }

  .index {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
  }
}

