// Our variables
$primary-font: Barlow Semi Condensed, Helvetica, Arial, sans-serif;
$bold-font: Barlow Semi Condensed, Helvetica, Arial, sans-serif;
$secondary-font: Barlow Semi Condensed, Helvetica, Arial, sans-serif;
$font-xlarge: 2.0581em;
$font-large: 1.618em;
$font-medium: 1.272em;
$font-normal: 21px;
$font-small: .7862em;

$white: #fafafa;
$black: #232323;

$world: #305251;
$nature: #a59e34;
$science: #672123;
$entertainment: #343708;
$legend: #6e3114;
