$header-large: 125px;
$header-small: 80px;

$space-none: 0;
$space-100: 4px;
$space-200: 8px;
$space-300: 16px;
$space-400: 32px;
$space-500: 64px;
$space-600: 128px;

$font-scale: (
  100 : 0.579rem,
  200 : 0.694rem,
  300 : 0.833rem,
  400 : 1rem,
  500 : 1.2rem,
  600 : 1.44rem,
  700 : 1.728rem,
  800 : 2.074rem,
  900 : 2.488rem,
);
