<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include critical-style.html %}

  <title>{{ page.title }}</title>
  <meta name="title" content="{{ page.title }}">
  <meta name="description" content="Trivial Discourse - Articles, tutorials, tips and tricks about web development, generative art, creative coding, and more.">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.trivialdiscourse.com/">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="Trivial Discourse - Articles, tutorials, tips and tricks about web development, generative art, creative coding, and more.">
  <meta property="og:image" content="https://www.trivialdiscourse.com/assets/images/down-in-the-river-detail.webp">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.trivialdiscourse.com/">
  <meta property="twitter:title" content="{{ page.title }}">
  <meta property="twitter:description" content="Trivial Discourse - Articles, tutorials, tips and tricks about web development, generative art, creative coding, and more.">
  <meta property="twitter:image" content="https://www.trivialdiscourse.com/assets/images/down-in-the-river-detail.webp">

  <meta name="apple-mobile-web-app-title" content="Trivial Discourse" />
  <meta name="application-name" content="Trivial Discourse" />
  <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml" />
  <meta name="theme-color" content="#305251" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/fav-180.webp" />
  <link rel="manifest" href="/assets/favicon/manifest.json" />
  <link rel="icon" type="image/png" href="/assets/favicon/fav-32.webp" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/favicon/fav-16.webp" sizes="16x16" />

  <link rel="preload" href="/assets/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" href="/assets/fonts/assistant/Assistant-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin>
  <link rel="preload" href="/assets/fonts/noto/NotoSans-Regular.ttf" as="font" type="font/ttf" crossorigin>
  <noscript><link rel="stylesheet" href="/assets/css/style.css"></noscript>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-50594599-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-50594599-1');
  </script>
</head>
<body>
  <div class="peace" style="box-shadow: 3px 5px 8px 8px rgba(0, 0, 0, 0.3); padding: 16px; position: absolute; z-index: 9999; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none; width: 500px; height: 500px; background-color: #fff; max-width: 95vw; max-height: 95vh; overflow-y: auto;"> 
    <p>
      В Украине сейчас идет война. Силами РФ наносятся удары по гражданской инфраструктуре в Харькове, Киеве, Чернигове, Сумах, Ирпене и десятках других городов. Гибнут люди - и гражданское население, и военные, в том числе российские призывники, которых бросили воевать. Чтобы лишить собственный народ доступа к информации, правительство РФ запретило называть войну войной, закрыло независимые СМИ и принимает сейчас ряд диктаторских законов. Эти законы призваны заткнуть рот всем, кто против войны. За обычный призыв к миру сейчас можно получить несколько лет тюрьмы.
    </p>
    <p>
      Не молчите! Молчание - знак вашего согласия с политикой российского правительства.
    </p>
    <p>
      Вы можете сделать выбор НЕ МОЛЧАТЬ.
    </p>
    <hr>
    <p> 
      There is a war in Ukraine right now. The forces of the Russian Federation are attacking civilian infrastructure in Kharkiv, Kyiv, Chernihiv, Sumy, Irpin and dozens of other cities. People are dying – both civilians and military servicemen, including Russian conscripts who were thrown into the fighting. In order to deprive its own people of access to information, the government of the Russian Federation has forbidden calling a war a war, shut down independent media and is passing a number of dictatorial laws. These laws are meant to silence all those who are against war. You can be jailed for multiple years for simply calling for peace.
    </p>
    <p>
      Do not be silent! Silence is a sign that you accept the Russian government's policy.
    </p>
    <p>
      You can choose NOT TO BE SILENT.
    </p>
    <button class="understand">Мир / PEACE</button>
  </div>
  {% include header.html %}
  {% include home.html %}
  <section class="content">
    {% include generative-art.html %}
    {% include latest.html %}
    {% include aboutme.html %}
    {{ content }}
  </section>
  {% include footer.html %}
</body>
</html>