<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <noscript id="deferred-styles">
        <link href='http://fonts.googleapis.com/css?family=Raleway:300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    </noscript>
    <script>
        var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
        else window.addEventListener('load', loadDeferredStyles);
    </script>

    <script>
      var hasOpened = false;
      document.addEventListener('DOMContentLoaded', function() {
        document.getElementById("navbar-toggle").onclick = () => {
          if (hasOpened) {
            document.querySelector('.navbar-toggle').classList.toggle("inactive");
          }
          document.querySelector('.navbar-toggle').classList.toggle("active");
          document.querySelector('.navbar-collapse').classList.toggle("in");
          hasOpened = true;
        };
      });
      
    </script>
  </body>

</html>
