<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:media="http://search.yahoo.com/mrss/">
	<channel>
		<title>Trivial Discourse</title>
		<description>A site with useful factoids, if you consider useless factoids useful.</description>
		<link>http://www.trivialdiscourse.com/</link>
		
		{% for post in site.posts %}
			{% unless post.published == false %}
		<item>
			<title><![CDATA[{{ post.title }}]]></title>
			<guid>http://www.trivialdiscourse.com{{ post.url }}</guid>
			<pubDate>{{ post.date }}</pubDate>
			<description><![CDATA[{{ post.description }}]]></description>
			<link>http://www.trivialdiscourse.com{{ post.url }}</link>			
			<media:thumbnail url='{{ image_url_small }}' height='240' width='360' />   
		</item>
			{% endunless %}
		{% endfor %}
	</channel>
</rss>