---
layout: default
---
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article>
                <h1 class="title">
                    {{ page.title }}<br>
                </h1>
                <h2 class="title">{{ page.subtitle }}</h2>
                <p class="title">
                    Published on : {{ page.readableDate }}<br>
                    Feel free to share this article (<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">cc-by-nc-sa</a>)
                </p>
                <div class="sharing">
                    <a href="http://www.twitter.com/share" title="Tweet to your friends about this article" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/sharer/sharer.php" title="Tell all your friends on Facebook about this article" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a data-pin-do="buttonBookmark" href="https://pinterest.com/pin/create/button" title="Pin this article to you Pinterest boards" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    <a href="http://www.reddit.com/submit?url=www.trivialdiscourse.com{{ page.url }}" title="Discuss this article on Reddit" target="_blank"><i class="fa fa-reddit" aria-hidden="true"></i></a>
                    <a href="https://plus.google.com/share?url=www.trivialdiscourse.com{{ page.url }}" title="Tell all your Google Plus circles about this article" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </div>
                {{ content }}
                </article>
            </div>
        </div>
        
        <div class="space"></div>			
        <div class="row">
            <div  class="col-md-12">
                {% if page.image_creditlink %}
                <div class="photocredits"><a href="{{ page.image_creditlink }}" target="_blank">{{ page.image_credits }}</a></div>
                {% endif %}
                {% if page.indepth_1 %}
                <div class="space"></div>
                <strong>In-depth reading</strong><br>
                <ul>
                    {% if page.indepth_1.title %}
                    <li><a href="{{ page.indepth_1.url }}" rel="prev" target="_blank">{{ page.indepth_1.title }}</a></li>
                    {% endif%}
                    {% if page.indepth_2.title %}
                    <li><a href="{{ page.indepth_2.url }}" rel="prev" target="_blank">{{ page.indepth_2.title }}</a></li>
                    {% endif%}
                    {% if page.indepth_3.title %}
                    <li><a href="{{ page.indepth_3.url }}" rel="prev" target="_blank">{{ page.indepth_3.title }}</a></li>
                    {% endif%}
                    {% if page.indepth_4.title %}
                    <li><a href="{{ page.indepth_4.url }}" rel="prev" target="_blank">{{ page.indepth_4.title }}</a></li>
                    {% endif%}
                    {% if page.indepth_5.title %}
                    <li><a href="{{ page.indepth_5.url }}" rel="prev" target="_blank">{{ page.indepth_5.title }}</a></li>
                    {% endif%}
                </ul>
                {% endif%}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Other articles on Trivial Discourse</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            {% if page.previous.title %}
                <p>
                    <div class="cat {{ page.previous.category }}"></div>
                    <a rel="prev" href="{{ page.previous.url }}">
                    <h1 class="title">{{ page.previous.title }}</h1>
                    {% if page.previous.subtitle %}
                    <h2 class="title">{{ page.previous.subtitle }}</h2>
                    {% else %}
                    <p>&nbsp;</p>
                    {% endif %}
                    </a>
                </p>
            {% endif %}
            {% if page.next.title %}
                <p>
                    <div class="cat {{ page.next.category }}"></div>
                    <a rel="next" href="{{ page.next.url }}">
                    <h1 class="title">{{ page.next.title }}</h1>
                    {% if page.next.subtitle %}
                    <h2 class="title">{{ page.next.subtitle }}</h2>
                    {% else %}
                    <p>&nbsp;</p>
                    {% endif %}
                    </a>
                </p>
            {% endif %}
            </div>
        </div>
        <div class="extra-space"></div>
    </div>
</div>
