* {
  box-sizing: border-box;
}

html {
  body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    
    section.content {
      width: calc(100vw - 2em);
      max-width: 1900px;
      margin: 0;
      padding-left: $space-300;
      padding-right: $space-300;

      @media (max-width: 1024px) {
        width: calc(100vw);
      }
    }

    section.block {
      margin-top: $space-400;
      margin-bottom: $space-500;
    }
  }
}