footer {
  width: 100%;

  .footer {
    padding: $space-300;
    background-color: map-get($colors, "slate");
    color: map-get($colors, "white");
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      max-width: $header-large;
      height: 70px;
    }

    .links {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .title {
        color: map-get($colors, "white");
        font-weight: 700;
        margin-bottom: $space-200;
      }

      .copyrights,
      a {
        color: map-get($colors, "white");
      }

      .legal {
        margin-left: $space-500;
      }

      .social {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .icons {
          margin-left: -5px;
        }

        a {
          text-decoration: none;
          margin-left: $space-200;
        }
      }
    }
  }
}
