footer {
  width: 100%;

  .subfooter {
    padding: $space-300;
    background-color: map-get($colors, "jungle-green");

    span {
      color: map-get($colors, "white");
    }

    a {
      color: map-get($colors, "white");
    }
  }

  .footer {
    padding: $space-300;
    background-color: map-get($colors, "white");
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      max-width: $header-large;
      height: 70px;
    }

    .social {
      a {
        text-decoration: none;
        margin-left: $space-200;
      }
    }
  }
}
