section.home {
  position: relative;
  top: 0 - $header-large;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow: hidden;
  background-size: cover;
  
  @media (min-width: 1024px) {
    background-image: url('/assets/images/header1.webp');
  }

  @media (max-width: 1024px) {
    justify-content: flex-start;
    background-image: url('/assets/images/header1-mob.webp');
  }

  @media (max-width: 768px) {
    justify-content: flex-start;
    background-image: url('/assets/images/header1-mob-sm.webp');
  }

  .intro {
    width: calc(100vw - 2em);
    max-width: 1900px;
    padding: $space-300;
    margin-top: $header-large;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    
    @media (max-width: 1024px) {
      width: 100%;
      min-width: 100%;
      flex-basis: 100%;
      padding: $space-300;
      margin-top: $header-small;
    }

    .personalia {      
      margin-bottom: $space-600;
      background-color: #ffffffaa;
      padding: $space-300;
      padding-right: $space-500;

      @media (max-width: 1024px) {
        margin-bottom: $space-300;
      }

      h1 {
        font-weight: 400;
        font-variation-settings: 'wght' 350;
        font-size: map-get($font-scale, 900);
        margin-bottom: $space-400;
      }
    }
  }
}
