section.post-list {
  ul {
    list-style: none;
    padding: $space-none;
    padding-bottom: $space-200;
    display: flex;
    flex-wrap: nowrap;
    justify-content: stretch;
    overflow-x: auto;
    overflow-y: hidden;

    @media (min-width: 1024px) {
      overflow-x: visible;
      overflow-y: visible;
      flex-wrap: wrap;
    }

    .post {
      padding-top: $space-300;
      padding-right: $space-300;

      a {
        display: block;
        text-decoration: none;
        min-width: 400px;
        max-width: 70vw;
        padding: $space-300;
        position: relative;
        background-image: linear-gradient( 105.3deg,  rgba(map-get($colors, "blue"),1) 21.8%, rgba(darken(map-get($colors, "blue"), 2%),1) 100.2% );
        background-color: map-get($colors, "blue");

        &:active,
        &:hover,
        &:visited {
          text-decoration: none;
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 6px;
          top: 6px;
          width: 5px;
          height: 5px;
          border-top: 1px solid map-get($colors, "light-blue");
          border-left: 1px solid map-get($colors, "light-blue");
        }
        
        &::after {
          content: "";
          display: block;
          position: absolute;
          right: 6px;
          bottom: 6px;
          width: 5px;
          height: 5px;
          border-bottom: 1px solid map-get($colors, "light-blue");
          border-right: 1px solid map-get($colors, "light-blue");
        }

        .category {
          font-weight: 700;
        }

        .date,
        .category {
          color: map-get($colors, "light-blue");
        }
      }
    }
  }
}
