section.post-list {
  ul {
    list-style: none;
    padding: $space-none;
    padding-bottom: $space-200;
    display: flex;
    flex-wrap: nowrap;
    justify-content: stretch;

    @media (min-width: 1024px) {
      flex-wrap: wrap;
    }

    @media (min-width: 1024px) {
      overflow-x: visible;
      overflow-y: visible;
      flex-wrap: wrap;
    }

    .post {
      padding-top: $space-400;
      padding-right: $space-400;
      width: 25%;
      max-width: 70vw;

      a {
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        align-items: flex-start;
        text-decoration: none;
        width: 100%;
        padding: $space-300;
        position: relative;
        aspect-ratio: 1 / 1;
        background-color: map-get($colors, "white");
        transition: box-shadow 480ms linear;
        box-shadow: 
          0 0 15px -2px rgba(10,10,10,0.1),
          0 0 65px -15px rgba(120,120,120,0.1),
          0 0 75px -15px rgba(30,30,30,0.1);
    
        &:active,
        &:hover,
        &:visited {
          text-decoration: none;
          box-shadow: 
            0 0 5px -2px rgba(0,0,0,0.1),
            0 0 21px -15px rgba(0,0,0,0.1),
            0 0 25px -15px rgba(0,0,0,0.1);
        }

        .category {
          font-weight: 700;
        }

        .date,
        .category {
          color: map-get($colors, "light-blue");
        }
      }
    }
  }
}
