section.social-share {
  .trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border-radius: 48px;
    background-color: map-get($colors, "black");
    color: map-get($colors, "white");
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
    .feather {
      stroke: map-get($colors, "white");
    }
  }
}

.social-share-content {
  background-color: map-get($colors, "white");
  color: map-get($colors, "black");
  border-radius: 8px;
  padding: $space-400;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
  .title {
    font-weight: 700;
    color: map-get($colors, "white");
  }

  .links {
    padding: 0;
    margin: $space-200 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: $space-300;

      a {
        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
