@font-face {
  font-family: "Assistant";
  src: url("/assets/fonts/assistant/Assistant-VariableFont_wght.ttf");
  font-display: swap;
  font-weight: 273;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/assets/fonts/noto/NotoSans-Regular.ttf");
  font-display: swap;
}
